body,
p,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background: #202124;
  color: white;
  font-family: "Trirong", serif;
}

a {
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: #e0b9f0;
}

.background {
  background-image: url(../img/background.jpg);
  background-size: cover;
  opacity: 0.04;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5000;
}

a:hover {
  text-decoration: none;
}

.button {
  background: #0e0d11;
  color: white;
  padding: 15px 30px;
  margin-top: 15px;
  border: 0;
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  background: #5f4d64;
}

.icon,
.icon-description {
  margin-right: 10px;
}

.container {
  margin-top: 10px;
  padding: 50px;
}

.alert-info {
  background: transparent;
  color: white;
}

.navbar-brand {
  font-family: "Viaoda Libre", cursive;
  padding-right: 15px;
  margin-right: 10px;
  border-right: 1px solid #515151;
}

.introduction {
  display: grid;
  grid-template-columns: 128px 300px;
  height: 130px;
  margin-bottom: 25px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.introduction .presentation h1 {
  font-family: "Baskervville", serif;
  color: #e0b9f0;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 10px;
}

.introduction .presentation h5 {
  color: gray;
}

.introduction .profile-pic,
.projects .projects-pic {
  height: 128px;
  border-radius: 50%;
}

.profile .video {
  padding: 20px;
  border-radius: 8px;
  background: #0a0a0a;
}

.profile .video iframe {
  width: 100%;
}

.profile .video,
.projects .devices-pic {
  padding-top: 20px;
}

.technologies {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #515151;
  padding-top: 30px;
}

.technologies img {
  height: 48px;
  display: inline-block;
  opacity: 0.7;
}

/******* LinkedIn Recommendations & Portfolio ******/
.linkedin-recommendations,
.portfolio {
  margin-top: 40px;
  border-top: 1px solid #515151;
  padding-top: 30px;
}

.linkedin-recommendations .big-title,
.portfolio .big-title,
.portfolio h3,
.portfolio .more-projects,
.technologies h4 {
  color: #515151;
  margin-bottom: 20px;
  text-align: center;
}

.linkedin-recommendation {
  text-align: left;
}

.linkedin-recommendation .title {
  display: grid;
  grid-template-columns: 128px 300px;
  height: 130px;
  margin-bottom: 25px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.linkedin-recommendation .title img {
  border-radius: 50%;
  height: 100px;
}

.linkedin-recommendation .title .role {
  font-size: 15px;
  color: #e0b9f0;
}

.linkedin-recommendation .title .when {
  font-size: 14px;
  color: gray;
}

.linkedin-recommendation .recommendation p,
.portfolio .project p {
  font-size: 14px;
}

.portfolio .project img {
  margin-bottom: 20px;
  width: 100%;
}

.portfolio .projects-page,
.portfolio .more-projects {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

/******* FOOTER ******/
.footer {
  background: #343a40;
  padding: 15px;
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
  width: 100%;
}

.footer a {
  margin-left: 20px;
}

/********************************** RESPONSIVE CSS *******************************/
@media (max-width: 700px) {
  .navbar-brand {
    border-right: 0;
  }
  .container {
    padding: 10px;
  }
}
